.footer{
    width:100%;
    height:auto;
    background-color: #212b35;
}
.invit{
    height:200px;
}
.span{
    color:white;
    font-size: 30px;
  padding-top: 6%;
    margin-left: 20px;
    float: left;
}
.divsi{
    float: right;
    margin-right: 100px;
    margin-top: 6%;
}
.divsi button{
    width:200px;
    height:40px;
    font-size: 18px;
}
.footer hr{
    background-color: white;
    height:1px;
    opacity: .5;
    width:100%;
    border:transparent;
}
.redes{
    display: flex;
    padding: 15px 15px;
    width:50%;
}
.flexi{
    display:flex;
    color: white;
}
.icon_redes{
    margin: 0 10px;
}
.terminos{
    font-size: 13px;
    padding: 15px 15px;
    width:50%;
    display: flex;
    justify-content: flex-end;
}
.terminos span{
    margin:0 10px;
}
@media(max-width: 425px){
    .flexi{
        display: block;
    }
    .terminos{
        width:100%;
        justify-content: center;

    }
    .redes{
        justify-content: space-around;
    }
    .centro{
        width:50%;
        margin-left: 25%;
    }
    .terminos span{
        margin:0 5px;
    }
}
