.log_box{
	width: 120px;
	height: auto;
}
.slogan{
	color:white;
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 50px;
}
.title{
	font-size: 1.8rem; 
	color: white; 
	padding: 10px;
	 margin-bottom: 0px;

}